<table>
  <tr>
    <td>
      <p>Nombre: Yolotzin Groth</p>
      <p>Objectivo: Ser Product Manager en una empresa grande y ser fotógrafa profesional</p>
    </td>
    <td>
      <img src="../assets/images/yolo.jpeg" width="200" height="300">
    </td>
    <td>
      <p>Datos personales:</p>
      <ul>
        <li>ygroth259@gmail.com</li>
        <li>2721262678</li>
        <li>Orizaba, Veracruz</li>
      </ul>
      <p>Skills:</p>
      <ul>
        <li>Comprometida</li>
        <li>Trabajo en equipo</li>
        <li>Respetuosa</li>
        <li>Honesta</li>
        <li>Perseverante</li>
      </ul>
    </td>
  </tr>
</table>
